<header class="sz-panel__header">
    <ng-template [szTemplateHost]="headerTemplate"></ng-template>

    <h1 *ngIf="!headerTemplate && !!heading">
        <ng-template [szTemplateHost]="headingRef"></ng-template>
        {{heading}}
    </h1>
    
    <button class="sz-panel__close" (click)="close()" *ngIf="!headerTemplate && canClose">
        <span *ngIf="!closeContentRef">{{closeText}}</span>
        <ng-template [szTemplateHost]="closeContentRef"></ng-template>
    </button>
</header>

<div class="sz-panel__container">
    <ng-content></ng-content>
</div>

<div class="sz-panel__child">
    <router-outlet (activate)='onChildActivate($event)' (deactivate)="onChildDeactivate($event)"></router-outlet>
</div>

<div class="sz-panel__child">
    <ng-template szChildPanelHost></ng-template>
</div>
